#pojemnik{background-color:#00f;height:100%;width:auto;margin-right:.5em;padding-top:.5em;padding-bottom:.5em}
#banner{background-color:#808080;height:2em;width:auto;margin-right:.5em;margin-left:.5em}
#menu{position:relative;float:right;background-color:#a2a2a2;height:15em;width:4em;margin-top:.2em;margin-right:.5em;margin-left:.5em}
#tresc{background-color:#c4c4c4;height:20em;width:auto;margin-right:4.8em;margin-left:.5em;margin-top:.2em}
