#banner{background-color:#808080;height:2em;width:auto}
#menu{background-color:#a2a2a2;height:15em;width:4em;float:left;margin-top:.2em}
#tresc{position:static;background-color:#d5d5d5;height:20em;width:auto;margin-left:4.2em;margin-right:4.2em;margin-top:.2em}
#panel{float:right;background-color:#c4c4c4;height:15em;width:4em;margin-top:-20em}
