#banner{position:fixed;background-color:#3c3c3c;height:2em;width:99%;margin-top:-2.1em}
#menu{position:fixed;background-color:#5e5e5e;height:15em;width:4em}
#tresc{background-color:#919191;height:20em;width:auto;margin-top:2.1em;margin-left:4.1em}
#stopka{position:fixed;background-color:#b3b3b3;height:2em;width:99%;margin-top:.1em}
