#banner{background-color:#808080;position:static;height:2em;width:auto;margin-right:.5em}
#menu{background-color:#b3b3b3;position:absolute;margin-top:.1em;height:15em;width:2em}
#tresc{background-color:#d5d5d5;position:static;margin-left:2.1em;margin-top:.1em;margin-right:.5em;height:20em;width:auto}
