<form action = "" method="POST">
    <input type="text" name="username" id="username" placeholder="User">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" value="zaloguj">
</form> //jak w action nic, to wartosc login(domyslna)